body{
font-family:Arial;
text-align:center;
background:white;
color:black;
}

.dark{
background:#121212;
color:white;
}

.parking-layout{
display:flex;
justify-content:center;
align-items:center;
margin-top:40px;
gap:40px;
}

.road{
width:120px;
height:500px;
background:#333;
border-radius:10px;
}

.parking-left,
.parking-right{
display:grid;
grid-template-columns:repeat(2,110px);
gap:15px;
}

.slot{
width:110px;
height:80px;
background:green;
color:white;
display:flex;
align-items:center;
justify-content:center;
border-radius:8px;
cursor:pointer;
}

.booked{
background:red;
}

table{
margin:30px auto;
border-collapse:collapse;
}

th,td{
padding:10px;
border:1px solid black;
}

button{
padding:8px 15px;
margin:10px;
cursor:pointer;
}

@media(max-width:768px){

.parking-layout{
flex-direction:column;
}

.road{
width:80%;
height:80px;
}

.parking-left,
.parking-right{
grid-template-columns:repeat(3,90px);
}

.slot{
width:90px;
height:60px;
font-size:12px;
}

}